BOT_TOKEN=YOUR_BOT_TOKEN_HERE
GROUP_CHAT_ID=YOUR_GROUP_CHAT_ID
MESSAGE_THREAD_ID=YOUR_MESSAGE_THREAD_ID
SCHEDULE_THREAD_ID=YOUR_SCHEDULE_THREAD_ID
ADMIN_IDS=ID1,ID2
SNE_SPREADSHEET_ID=YOUR_SPREADSHEET_ID
SNE_CREDENTIALS_PATH=sne_credentials.json
ZV_DORM_WEBAPP_URL=https://example.com/zv_dorm_form.html
C55_WEBAPP_URL=https://example.com/c55_app.html
